<div class="p-5 mb-4 mt-4 bg-light rounded-3">
  <h2 class="text-center"><strong>Title:</strong> <%= @article.title.capitalize %></h2>
  <div class="well col-xs-8 col-xs-offset-2 mb-4">
    <h4 class="text-center mt-4"><strong>Description:</strong></h4>
    <hr>
      <%= @article.description.capitalize %>
  </div>
  <% if @article.categories.any? %>
    <p>Categories: <%= render @article.categories %></p>
  <%end %>
  <div class="d-flex bd-highlight mb-3">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'Edit the article', edit_article_path(@article), class:'btn btn-primary p-2 bd-highlight me-1' %> 
      <%= link_to 'Destroy the article', @article, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger p-2 bd-highlight' %>
      <% end %>
  </div>
</div>

